<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en">    
<head>    
<title>Index Page</title>

</head>    
<body>    
<form action="save" method="post">    
<table>    
<tr>    
<td><label for="user-name">User Name</label></td>    
<td><input type="text" name="name" placeholder="Enter username"></input></td>    
 </tr> 
 <tr>    
<td><label for="job">Designation</label></td>    
<td><input type="text" name="job" placeholder="Enter Job "></input></td>    
 </tr>
<tr>    
<td><label for="mob">Phone number</label></td>    
<td><input type="text" name="mob" placeholder="Enter Number"></input></td>    
 </tr> 
 <tr>    
<td><label for="age">Age</label></td>    
<td><input type="number" name="age" placeholder="Enter Age"></input></td>    
 </tr> 
<tr>    
<td><label for="email">Email</label></td>    
<td><input type="text" name="email" placeholder="Enter Email"></input></td>    
</tr>    
<tr>    
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>    
</html>  